body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    border-style: solid;
    align-items: center;
    border-color: grey;
    margin: 12px;
}

main {
    display: flex;
    overflow: auto;
    height: 80vh;
    flex-direction: column;
}

