html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 98%;
}
.header {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    border-style: solid;
    align-items: center;
    border-color: grey;
    margin: 12px;
}

h1 {
    width: auto;
    align-self: center;
}

.main {
    height: 90vh;
    margin: 15px;
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
