html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    flex-grow: 1;
    border-style: solid;
    align-items: center;
    border-color: grey;
    margin: 12px;
}

h1 {
    width: auto;
    align-self: center;
}

.main {
    flex-grow: 1;
    margin: 15px;
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 20px;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie{
    width: 240px;
    margin: 5px;
}